.green-color {
    --sds-c-icon-color-foreground-default: green;
    --sds-c-icon-color-foreground: green;
}
.red-color {
    --sds-c-icon-color-foreground-default: rgb(170, 8, 8);
    --sds-c-icon-color-foreground: rgb(170, 8, 8);
}
.gp-no-results {
    font-family: 'Salesforce Sans', Arial, sans-serif;
}
.wrapword {
    white-space: -moz-pre-wrap !important; /*Mozilla, since 1999*/
    white-space: -webkit-pre-wrap; /*Chrome and Safari */
    white-space: -pre-wrap; /*Opera 4-6*/
    white-space: -o-pre-wrap; /*Opera 7*/
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /*Internet Explorer 5.5+ */
    word-break: break-word;
    white-space: normal;
}

::-webkit-input-placeholder {
    color: red;
}